@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
	margin: 0;
	padding: 0;
}
.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-image: url(img/main_bg.jpg);
	background-position: center;
	background-size: cover;
}
.navbar{
	display: flex;
	height: 10%;
	width: 60%;
	align-items: center;
}
.navbar img{
	height: 100%;
	margin-left: 3%;
	margin-top: 5%;
}
.navbar a{
	margin-top: 5%;
	margin-left: 1%;
	color: #F2D388;
	font-size: 22px;
	font-family: 'Nunito', sans-serif;
}
.main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 40%;
	width: 100%;
	margin: auto;
}
.app{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 30%;
}

.app a{
	color: #F6E6C2;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	padding: 10px 10px;
	border-radius: 15px;
	transition: 0.5s;
}
.app a:hover{
	background: rgba(141, 141, 141, 0.38);
}