@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

* {
  margin: 0;
  padding: 0;
}
body{
  display: flex;
}
.navbar{
  height: 70px;
  width: 100%;
  background: rgb(29, 28, 29);
  display: flex;
  justify-content: center;
}
.navbar a{
  margin-top: 30px;
  margin-left: 1%;
  font-family: 'Mynerve', cursive;
  font-size: 20px;
  color: wheat;
  text-decoration: none;
  user-select: none;
}
.navbar img{
  height: 66px;
  margin-top:2px;
  user-select: none;
}