@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
/* font-family: 'Tilt Warp', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
/* font-family: 'Nunito', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

.section1 {
  height: 350vh;
  background-image: linear-gradient(180deg, rgb(66, 199, 14), rgb(10, 97, 10));
}

.head {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: "Tilt Warp", cursive;
}

.head ul {
  width: 50%;
}

.head ul li {
  display: inline;
  margin-left: 8%;
}

.head ul li a {
  font-size: 20px;
  color: white;
  transition: 70ms;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

.head ul li a:hover {
  border-bottom: 2px solid;
}

.main_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.main_page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.main_page_content_img {
  height: 70%;
  margin-right: 1%;
}

.main_page_text {
  margin-right: 20%;
  width: 30%;
}

.we_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.we_page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

.we_page_text {
  margin-right: 5%;
  width: 30%;
}

.we_page_content_img {
  height: 70%;
}

.products_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products_page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.products_page_content_img {
  height: 70%;
  margin-right: 5%;
}

.products_page_content_text {
  width: 30%;
}

footer{
  height: 50vh;
  width: 100%;
}